* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.7);
}

header .container {
  max-width: 1300px;
  margin: auto;
  padding: 0px 25px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #555;
}

.headerContent {
  margin-top: 70px;
  display: flex;
  align-items: center;
}

.headerContentItem {
  flex: 1;
}

.headerContentItem h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 8px;
  margin-left: 50px;
}

.headerContentItem p {
  color: #555;
  font-size: 25px;
  margin-left: 50px;
}

.headerContentItem img {
  width: 100%;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.categories {
  margin: 70px 0px;
}

.categories .container {
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container img {
  flex-basis: 30%;
  min-width: 250px;
}

.feature-products {
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
}

.feature-products h2 {
  color: #555;
  line-height: 60px;
  text-align: center;
}

.customunderlinecontainer {
  display: flex;
  justify-content: center;
}

.customunderline {
  width: 80px;
  height: 5px;
  background-color: #555;
  margin-bottom: 80px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-container .products-card {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 10px;
  margin-bottom: 50px;
  flex-basis: 25%;
  cursor: pointer;
  transition: transform 1s;
}

.products-card:hover {
  transform: translateY(-5px);
}

.latest-products {
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
}

.latest-products h2 {
  color: #555;
  line-height: 60px;
  text-align: center;
}

.banner {
  margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 0px;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
  justify-content: space-around;
  align-items: center;
}

.left-banner-container {
  flex: 1;
  img {
  width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
 }

}

.right-banner-container {
  flex: 1;
  
  .banner-title{
    color: #555;
  }

  .banner-subtitle{
    font-size: 50px;
    line-height: 60px;
    margin: 10px 0px;
  }
 
  .banne-description{
    color: #555;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  button{
    background-color: #555;
    margin: 30px 0px;
    padding: 8px 30px;
    border-radius: 30px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  button:hover{
    background-color: #0f0f0f;
  }
}

.testimonial{
  padding-top: 100px;

  .testimonial-inner-container{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 40px 20px 40px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    min-width: 250px;
    margin-bottom: 30px;
    flex-basis: 30%;
  }

  .testimonial-card:hover{
    transform: translateY(-10px);
  }

  p{
    font-size: 12px;
    margin: 12px 0px;
    color: #777
  };

  img{
    width: 50px;
    height: 49px;
    margin-top: 20px;
    border-radius: 50%;
  }

  h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
    margin-top: 20px;
  }
}

.branding{
  margin: 100px auto;
  .branding-inner{
    display: flex;
    justify-content: space-around;
    max-width: 1080px;
    padding: 0px 25px;
    margin: auto;
  }

  img{
    width: 80px;
    height: 40px;
    filter: grayscale(100%);
  }

   img:hover{
    
    filter: grayscale(0%);
  }
}

footer{
  background: #222833;
  color: #eeeeee;
  font-size: 14px;
  padding: 60px 0 20px;

  .footer-inner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;
  }

  .footercolumn{
    min-width: 250px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .footercolumn-1{
    flex-basis: 30%;

    h3{
      color: #ff523b;
      margin-bottom: 20px;
      font-weight: 500;
    }

    p{
      color: #eeeeee;
      cursor: pointer;
    }

    .footer-store{
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 20px;

      img{
        width: 140px;
        margin: 5px 0px;
        transition: transform 0.5s ease;
      }

       img:hover{
        transform: translateY(-5px);
      }
    }
  }

  .footercolumn-2{
    flex: 1;
    align-items: center;

    h3{
      color: #ff523b;
      margin-bottom: 20px;
      font-weight: 500;
    }

    p{
      color: #eeeeee;
      margin-top: 10px;
      cursor: pointer;
      transition: color 0.5s ease;
    }

      p:hover{
      color: #ff523b;
    }

    .footer-store{
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 20px;
    }
  }

  .footercolumn-3{
    flex-basis: 12%;
    align-items: center;

    h3{
      color: #ff523b;
      margin-bottom: 20px;
      font-weight: 500;
    }

    p{
      color: #eeeeee;
      cursor: pointer;
       margin-top: 10px;
       transition: color 0.5s ease;
    }

    p:hover{
      color: #ff523b;
    }

    .footer-store{
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 20px;
    }
  }
}

.allproduct-section{
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  padding: 0px 25px;
  margin: auto;

  h2{
    padding: 10px;
  }
  .allproduct-label-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px 50px;

    select{
     padding: 5px;
     outline: none;
    }
  }

  .pagination{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;

    .pagination-button{
      display: inline-block;
      border: 1px solid #ff523b;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      transition: all 0.5s ease;
    }

     .pagination-button:hover{
      background-color: #ff523b;
      color: #fff;
     }
  }
}

.product-details-container{
  margin-top: 80px;
  max-width: 1880px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  .product-details-content{
    flex-basis: 50%;
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
  }

  .product-detail-img-content{
    gap: 4px;

    .prduct-details-big-image{
      width: 100%;
    }
    .product-small-img-container-wrapper{
      display: flex;
      justify-content: space-between;

      .product-small-img-container{
        display: flex;
        justify-content: space-between;
        gap:8px;
         flex-basis: 24%;
        img{
          width: 100%;
        }
      }
    }
  }

  .product-detail-text-content{
    p{
      color: #555;
    }

    h1{
      font-size: 50px;
      line-height: 60px;
      margin: 15px 0;
    }

    h4{
      color: #555;
      margin: 10px 0;
      font-size: 22px;
      font-weight: bold;
    }

    select{
      display: block;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #ff523b;
      outline: none;
      width: fit-content;
    }

    .add-to-card-wrapper{
       display: flex;
       align-items: center;
       gap: 10px;

       input{
        width: 60px;
        height: 40px;
        padding-left: 10px;
        font-size: 15px;
        margin-right: 10px;
        border: 1px solid #ff523b;
        outline: none;
       }

       .add-to-card-button{
        display: flex;
        background-color: #ff523b;
        color: #fff;
        padding: 8px 30px;
        border-radius: 30px;
        transition: background-color 0.5s ease;
        text-decoration: none;
       }

       .add-to-card-button:hover{
        background-color: #222831;
       }

    }
  }
}

.card-section-wrapper{
  margin: 80px auto;
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;

  table{
    width: 100%;
    border-collapse: collapse;

    th{
      text-align: left;
      padding: 5px;
      color: #fff;
      background: #ff523b;
      font-weight: normal;
    }

    th:last-child{
      text-align: right;
    }

    td{
      padding: 10px 5px;

      .card-info{
        display: flex;
        flex-wrap: wrap;

        img{
          width: 80px;
          height: 80px;
          margin-right: 10px;
        }

        .card-info-details{
          display: flex;
          flex-direction: column;

          p{
            color: #555;
          }

          small{
            color: #555;
          }

          a{
            color: #ff523b;
            font-size: 12px;
            text-decoration: none;
            margin-top: 4px;
          }
        }
      }
      input{
        width: 40px;
        padding: 5px;
        outline: none;
      }
    }
    td:last-child{
      text-align: right;
    }
  }

  .total-price{
    display: flex;
    justify-content: flex-end;

    table{
      border-top: 3px solid #ff523b; 
      max-width: 350px;
    }
  }

  .checkout-button{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color 0.5s ease;
  }

  .checkout-button:hover{
    background-color: #222833;
  }
}